<script props>
  let styles = []

  if (props.width) {
    styles.push(`width: ${props.width};`)
  }

  if (props.height) {
    styles.push(`max-height: ${props.height};`)
  }

  module.exports = {
    width: props.width,
    height: props.height,
    image: props.image,
    styles: styles.join(' '),
    href: props.href,
    alt: props.alt || ''
  }
</script>

<table class="w-full">
  <tr>
    <td align="center">
      <if condition="utm === 'true'">
        <a href="{{href}}?utm_source=newsletter&utm_medium=CVDM&utm_campaign={{page.utm}}" class="inline-block" target="_blank">
          <img class="mx-auto block"
               src="{{ image }}"
               src-production="images/{{ image }}"
               width="{{ btnWidth }}"
               height="auto"
               max-width="100%"
               border="none"
               max-height="{{ btnHeight }}"
               style="{{ styles }}"
               alt="{{ alt }}" />
        </a>
      </if>
      <else>
        <a href="{{href}}" target="_blank">
          <img class="mx-auto block"
               src="{{ image }}"
               src-production="images/{{ image }}"
               width="{{ btnWidth }}"
               height="auto"
               max-width="100%"
               border="none"
               max-height="{{ btnHeight }}"
               style="{{ styles }}"
               alt="{{ alt }}" />
        </a>
      </else>
    </td>
  </tr>
</table>


