<script props>
  let styles = [`text-decoration: none !important;`]

  if (props.color) {
    styles.push(`color: ${props.color};`)
  }

  module.exports = {
    name: props.name,
    domain: props.domain,
    domainExt: props.domainExt,
    styles: styles.join(' ')
  }
</script>

<span style="{{ styles }}">{{ name }}</span>
<span style="font-size: 1px; line-height: 1px; white-space: nowrap"></span>
<span style="{{ styles }}">@</span>
<span style="font-size: 1px; line-height: 1px; white-space: nowrap"></span>
<span style="{{ styles }}">{{ domain }}</span>
<span style="font-size: 1px; line-height: 1px; white-space: nowrap"></span>
<span style="{{ styles }}">.</span>
<span style="font-size: 1px; line-height: 1px; white-space: nowrap"></span>
<span style="{{ styles }}">{{ domainExt }}</span>
