<script props>
  module.exports = {
    headerSecondLogo: props.headerSecondLogo,
  }
</script>

<table class="w-full">
  <tr>
    <td>
      <if condition="headerSecondLogo !== 'bonus'">
        <table align="left" width="172" class="sm:w-full border-none sm:float-none float-left">
          <tr>
            <td align="center" class="pad_bottom" >
              <x-spacer height="10px" class="sm:hidden"/>
              <a href="https://www.alpha.gr/?utm_source=newsletter&utm_medium=CVDM&utm_campaign={{ page.utm }}" target="_blank">
                <img src="alpha_logo.png" src-production="images/alpha_logo.png" width="172" alt="Alpha Bank" style="width:172px; max-width:100%; max-height: 32px;">
              </a>
            </td>
          </tr>
        </table>
      </if>
      <if condition="headerSecondLogo == 'gold' || headerSecondLogo == 'bonus'">
        <table class="w-full sm:table hidden">
          <tr>
            <td>
              <x-spacer height="20px" />
            </td>
          </tr>
        </table>
      </if>
      <if condition="headerSecondLogo == 'gold'">
        <table align="right" width="93" class="sm:w-full border-none sm:float-none float-right">
          <tbody>
          <tr>
            <td align="center" class="pad_bottom" >
                <a href="https://www.alpha.gr/el/gold/gold-personal-banking/?utm_source=newsletter&utm_medium=CVDM&utm_campaign={{ page.utm }}" target="_blank">
                  <img src="gold-logo-personal-transparent.png" src-production="images/gold-logo-personal-transparent.png" width="93" alt="Alpha Bank"  style="width:93px; max-width:100%; max-height: 53px;">
                </a>
            </td>
          </tr>
          </tbody>
        </table>
     </if>
      <if condition="headerSecondLogo == 'bonus'">
        <table align="right" width="146" class="sm:w-full border-none sm:float-none float-right">
          <tbody>
          <tr>
            <td align="center" class="pad_bottom" >
              <a href="https://www.alpha.gr/el/idiotes/bonus?utm_source=newsletter&utm_medium=CVDM&utm_campaign={{ page.utm }}" target="_blank">
                <img src="bonus-logo.png" src-production="images/bonus-logo.png" width="146" alt="Alpha Bank Bonus" style="width:146px; max-width:100%; max-height: 52px;">
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </if>
    </td>
  </tr>
</table>

