<script props>
  let styles = []

  if (props.width) {
    styles.push(`width: ${props.width};`)
  }

  if (props.height) {
    styles.push(`max-height: ${props.height};`)
  }

  styles.push(`max-width: 100%;`)

  module.exports = {
    width: props.width,
    height: props.height,
    image: props.image,
    styles: styles.join(' '),
    alt: props.alt || ''
  }
</script>

<img class="mx-auto block"
  src="{{ image }}"
  src-production="images/{{ image }}"
  width="{{ width }}"
  style="{{ styles }}"
  alt="{{ alt }}" />
