<script props>
  module.exports = {
    bgColor: props.bgColor,
    styles: props.bgColor ? `background-color: ${props.bgColor};` : '',
  }
</script>

<table align="center" width="100%" class="w-full bg-[{{bgColor}}]">
  <tr>
    <td width="24px" class="w-6 h-6" align="left">
      <img src="corner-{{topOrBottom}}-left.png" src-production="images/corner-{{topOrBottom}}-left.png" width="24" height="24" class="block">
    </td>
    <td>&nbsp;</td>
    <td width="24px" class="w-6 h-6" align="right">
      <img src="corner-{{topOrBottom}}-right.png" src-production="images/corner-{{topOrBottom}}-right.png" width="24" height="24" class="block">
    </td>
  </tr>
</table>
